.formacao{
    background-color: #141414;
    color: #ffffff;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    visibility: hidden;
}

.formacao.ativo{
    opacity: 1;
    visibility: visible;
}

.formacao-container{
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    padding: 40px 20px;

}

.formacao .sub-titulo{
    margin-top: 0px;
    color: #000000;
    max-width: 5ch;
    text-transform: uppercase;
}

.formacao-texto{
    max-width: 52ch;
    font-size: 1.5rem;
    line-height: 1.33;
    margin-bottom: 70px;
    color: #a3a3a3;
}

.formacao-texto span{
    color: #ffffff;
}

.formacao-lista{
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-inline-start: 0px;
    flex-wrap: wrap;
}


.formacao-lista li{
    font-size: 1.125rem;
    display: inline-block;
    background-color: #000000;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 40px;

}

.formacao-instituicao{
    margin-top: 90px;
    font-size: 1.125rem;
    color: #a3a3a3;
}

.formacao-cursos{
    font-size: 1.125rem;
    line-height: 1.1;
    margin-top: 50px;
    padding-inline-start: 0px;
    margin-bottom: 50px;

}

.formacao-cursos h4{
    font-size: 1rem;
    margin-bottom: 20px;

}

.formacao-tipo{
    font-size: .875rem;
    text-transform: uppercase;
    color: #a3a3a3;
    margin-bottom: 10px;
}

.curso-titulo{
    font-size: 0.875rem;
    line-height: 1.4;
    color: #8f8f8f;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.formacao-cursos span {
    display: inline-block;
    text-align: right;
}

.span{
    color: #8f8f8f;
}

.direita{
    float:right;
}

.formacao-cursos li{
    position: relative;
    
}

.formacao-detalhe{
    position: absolute;
    left: -30px;
    top: -5px;
}

@media(max-width: 800px){
    .formacao .sub-titulo{
        font-size: 4rem;
    }
    .formacao-texto{
        font-size: 1rem;
    }
}

@media(max-width:800px){
    .formacao-container{
        grid-template-columns: 1fr;
        gap: 10px;
        padding-bottom: 50px;
    }
    .formacao .sub-titulo{
        font-size: 2rem;
        color: #ffffff;
        max-width:initial;
    }
    .formacao-detalhe{
        top: -35px;
        left: -2px;
    }
    .formacao-texto{
        max-width: 70ch;
    }
    .formacao-cursos li {
        padding-bottom: 20px;
    }
}

@media(max-width: 500px){
    .formacao-lista{
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));

    }
}